*{
margin: 0;
padding: 0;
box-sizing: border-box;
list-style: none;
text-decoration: none;
font-family: 'poppins';
}
.header{
    height: 80px;
    width: 100%;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8% ;
}
.left-side{
    display: flex;
    gap: 20px;
    align-items: center;
}
.header ul li{
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.header ul li a{
    color: aquamarine;
}
.header ul li::after{
    position: absolute;
    content: "";
    height: 3px;
    width: 0%;
    top: 100% ;
    left: 0;
    background-color: black;
    transition: .6s;
}

.header ul li:hover::after{
    width: 100%;
}
.social{
    display: flex;
    gap: 12px; 
}
.social i{
    transition: .6s;
    cursor: pointer;
    color: rgb(5, 15, 49);
}
.social i:hover{
    transform: translateY(-8px);
    color: rgb(197, 150, 80);
}
button{
    padding: 8px 12px;
    width: 120px;
    background-color: transparent;
    border: 1px solid rgba(38, 26, 93, 0.2);
    color:blueviolet;
    border-radius: 5px;
    font-size: 15px;
    transition: .6s;
}
button:hover{
    color: bisque;
    background-color: rgb(15, 29, 117);
    transform: translateY(-3px);
}
.header .fa-bars{
    padding: 12px;
    border-radius: 5px;
    border: 1px solid rgba(38, 26, 93, 0.2);
    font-size: 1.3rem;
    transition: .6s;
}